<link rel="stylesheet" href="/stylesheets/fontawesome.css">

body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}



header {
text-align: center;
font-family: 'Ribeye Marrow', cursive;
padding: 30px;
background: url("https://img1.etsystatic.com/000/0/5338485/il_570xN.287979015.jpg");
border-radius: 60px;
}

h1 {
padding: 10px;
}

ul {
padding: 10px;
text-align: center;
color: black;
}
li {
display: inline;
padding: 0px 10px 0px 10px;
color: black;
}
a {
padding: 20px;
font-family: 'ribeye marrow';
color: black;
}

h2 {
text-align: center;
font-family: 'Ribeye Marrow', cursive;
color: #a6c6dd;
}

img {
text-align: center;
}

.row {
	text-align: center;
	padding: 50px 50px 100px 100px;
	}

.pricing-footer {
	text-align: center;
	}

.stars {
	display: inline;
	}
	
.about {
	text-align: center;
	font-family: arial;
	font-size: 40px;
	}


body {
	background: #fffdf0;
	font: 100%/1.5em sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
  background-color:#d34c65;
  text-align:center;
}

div {
  display: inline-block;
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}


