<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}



header {
text-align: center;
font-family: 'Ribeye Marrow', cursive;
padding: 30px;
background: url("https://img1.etsystatic.com/000/0/5338485/il_570xN.287979015.jpg");
border-radius: 60px;
}

h1 {
padding: 10px;
}

ul {
padding: 10px;
text-align: center;
color: black;
}
li {
display: inline;
padding: 0px 10px 0px 10px;
color: black;
}
a {
padding: 20px;
font-family: 'ribeye marrow';
color: black;
}

h2 {
text-align: center;
font-family: 'Ribeye Marrow', cursive;
color: #a6c6dd;
}

img {
text-align: center;
}

.row {
	text-align: center;
	padding: 50px 50px 100px 100px;
	}

.pricing-footer {
	text-align: center;
	}

.stars {
	display: inline;
	}
	
.about {
	text-align: center;
	font-family: arial;
	font-size: 40px;
	}


body {
	background: #fffdf0;
	font: 100%/1.5em sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
  background-color:#d34c65;
  text-align:center;
}

div {
  display: inline-block;
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

/* Icons */

a {
  color:#fff;
  background: #DB6E82;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:40px;
  height:28px;
  padding-top:12px;
  margin:0 2px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}

a:hover {
  background: #ef92a3;
}

/* pop-up text */

a span {
  color:#666;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#fff;
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

a span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}

/* text pops up when icon is in hover state */

a:hover span {
  bottom:50px;
  visibility:visible;
  opacity:1;
}

/* font awesome icons */

<link rel="stylesheet" type="text/css" href="stylesheets/fontawesome.css">

a:nth-of-type(1):before {
content:'\f09a';
}
a:nth-of-type(2):before {
content:'\f099';
}
a:nth-of-type(3):before {
content:'\f0d5';
}
a:nth-of-type(4):before {
content:'\f113';
}
a:nth-of-type(5):before {
content:'\f17d';
}
a:nth-of-type(6):before {
content:'\f1cb';
}
